<aside class="sidebar">
    <div id="leftside-navigation" class="nano">
        <ul class="nano-content">
            <li class="sub-menu active">
                <a href="{:url('index')}"><i class="fa fa-home"></i><span>用户首页</span></a>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-cog"></i><span>分类管理</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a href="{:url('index/cate')}">分类</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-shopping-cart"></i><span>新闻管理</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a href="{:url('index/news')}">新闻</a></li>
                </ul>
            </li>
            <li class="sub-menu">
                <a href="javascript:void(0);"><i class="fa fa-credit-card"></i><span>反馈</span><i class="arrow fa fa-angle-right pull-right"></i></a>
                <ul>
                    <li><a href="{:url('feedback/index')}">反馈</a></li>
                </ul>
            </li>

            <li class="sub-menu">
                <a href="{:url('login/checkout')}"><i class="fa fa-sign-out"></i><span>安全退出</span></a>
            </li>
        </ul>
    </div>
</aside>

