<script src="__static__/admin/js/jquery-1.10.2.min.js"></script>
<script src="__static__/admin/plugins/bootstrap/js/bootstrap.min.js"></script>
<script src="__static__/admin/js/application.js"></script>
<!--菜单cookie记忆-->
<script src="__static__/admin/js/jquery.cookie.js"></script>
<script src="__static__/admin/js/menucookie.js"></script>
<!--表单验证-->
<script src="__static__/admin/js/jquery.validate.min.js"></script>
<script src="__static__/admin/js/form-validate.min.js"></script>
<script src="__static__/admin/js/messages_zh.min.js"></script>
<!--toastr消息提示-->
<script src="__static__/admin/js/toastr.min.js"></script>
<!--复制内容插件-->
<script src="__static__/admin/js/jquery.zclip.js"></script>
<!--icheck-->
<script src="__static__/admin/plugins/icheck/js/icheck.min.js"></script>
<!--自定义js信息-->
<script src="__static__/admin/js/main.js"></script>